## Pandas Data Cleaning

Here you will work with the DIAMONDS dataset!

**1) Read the CSV file into a pandas dataframe**

The data you'll be working with is found in a file called `'.diamonds.csv'`.  Use your knowledge of pandas to create a new dataframe using the csv data. 

Check the contents of the first few rows of your dataframe, then show the size of the dataframe

In [1]:
# Run this cell without changes to import the necessary libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

!ls

diamonds.csv index.ipynb

In [4]:
# Replace None with appropriate code
df = pd.read_csv('diamonds.csv')

In [5]:
# Code here to check the first few rows of the DataFrame
df.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

In [6]:
# Code here to see the size of the DataFrame
len(df)

53940

**2. Check to see if there are any missing values for the dataset**
    
**Write some code below to show how you would find missing values. Write a small response that you might share with a team member reporting you checking for missing data**

In [25]:
# Code here on how to check for missing data (and how you would drop missing values!)
check_missing = df.dropna()
check_missing.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [26]:
# Code here to check how many rows are left 
#df
len(check_missing)

#Response: The data frame is complete.

53940

**3) Make a new metric**

Create a new variable that reflects price per weight (carat). Call the new variable "ppc" for price per carat. You will need to divide the carat column by the price column.

In [29]:
df['ppc'] = df['carat'] / df['price']
df.head()
# Code here to create ppc!

,carat,cut,color,clarity,depth,table,price,x,y,z,ppc
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,0.000706
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,0.000644
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,0.000703
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,0.000868
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,0.000925